.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
        color: #f4f4fd;
        max-width: 264px;
}

.footer-logo {
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.33333;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        
}

.footer .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
}
